<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>AirUs</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" type="text/css" href="css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/templatemo-dream-pulse.css" />
  </head>
  <body>
    <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar" th:fragment="menu">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="tm-sidebar-sticky">
          <div class="tm-brand-box">
            <div class="tm-double-border-1">
              <div class="tm-double-border-2">
                <h1 class="tm-brand text-uppercase">AirUs</h1>
              </div>
            </div>
          </div>

          <ul class="nav flex-column text-uppercase text-right tm-main-nav">
            <li class="nav-item">
              <a href="/" class="nav-link active">
                <span class="d-inline-block mr-3">Inicio</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/stateVectors" class="nav-link">
                <span class="d-inline-block mr-3">State Vector</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/vuelos" class="nav-link">
                <span class="d-inline-block mr-3">Vuelo</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/rastro" class="nav-link">
                <span class="d-inline-block mr-3">Rastro</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">
                <span class="d-inline-block mr-3">About</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
          </ul>
          <ul class="nav flex-row tm-social-links">
            <li class="nav-item">
              <a href="https://facebook.com" class="nav-link tm-social-link">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com" class="nav-link tm-social-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://linkedin.com" class="nav-link tm-social-link">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <footer class="text-center text-white small">
            <p class="mb--0 mb-2">TFG-2021 rafsalcas1</p>
            <p class="mb-0">Autor:
              <a rel="nofollow" href="https://github.com/rafsalcas1" class="tm-footer-link">Rafael Salas Castizo</a>
            </p>
          </footer>
        </div>
      </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>